{
  "extends": [
     "keystone"
  ],
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": [2, 2]
  },
  "globals": {
    "_": true,
    "$": true,
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "it": true,
    "jQuery": true,
    "Keystone": true
  }
}
