{
  "env": { 
    "es6": true 
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "extends": [
     "keystone"
  ],
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": [2, 2],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "comma-dangle": ["error","only-multiline"] 
  },
  "globals": {
    "_": true,
    "$": true,
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "it": true,
    "jQuery": true,
    "Keystone": true
  }
}
