*.dat
*.DS_Store
*.gz
*.log
*.out
*.pid
*.seed
*.swp
*.un~
*.iml
*.ipr
*.iws
.idea/
*.sublime-*
.vimrc

logs
node_modules/
npm-debug.log
pids
results
coverage
coverage.html
.cover*
lib-cov

bundles
docs/_dist
admin/public/styles/auth.css
admin/public/styles/auth.min.css
admin/public/styles/keystone.css
admin/public/styles/keystone.min.css
admin/public/js/packages.js
admin/public/fonts/fontawesome-webfont.eot
admin/public/fonts/fontawesome-webfont.svg
admin/public/fonts/fontawesome-webfont.ttf
admin/public/fonts/fontawesome-webfont.woff
admin/public/fonts/fontawesome-webfont.woff2
admin/public/styles/font-awesome/*
